<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    FoodGuard PRO -
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.1.0" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->

</head>

<body class="g-sidenav-show  bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
      <%- include('../partials/sidehead') %>
      <hr class="horizontal dark mt-0">
      <%- include('../partials/sidebar') %>
    </aside>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <!-- Navbar -->
    <%- include('../partials/navbar') %>
    <!-- End Navbar -->
     
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="row">
            
            <!-- Total Sekolah -->
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card">
                <span class="mask bg-info opacity-10 border-radius-lg"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z"/></svg>                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        1600
                      </h5>
                      <span class="text-white text-sm">Total Tray Hari Ini</span>
                    </div>
                    <div class="col-4">
                      <div class="dropdown text-end mb-6">
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+55%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
             <!-- Sekolah Aktif -->
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card">
                <span class="mask bg-success opacity-10 border-radius-lg"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z"/></svg>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        1600
                      </h5>
                      <span class="text-white text-sm">Tray Aman</span>
                    </div>
                    <div class="col-4">
                      <div class="dropdown text-end mb-6">
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+55%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
             <!-- Device Bermasalah -->
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card">
                <span class="mask bg-danger opacity-10 border-radius-lg"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/></svg>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        90
                      </h5>
                      <span class="text-white text-sm">Tray Warning</span>
                    </div>
                    <div class="col-4">
                      <div class="dropdown text-end mb-6">
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+55%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
             <!-- Laporan -->
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card">
                <span class="mask bg-dark opacity-10 border-radius-lg"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        1600
                      </h5>
                      <span class="text-white text-sm">Tray Bahaya</span>
                    </div>
                    <div class="col-4">
                      <div class="dropdown text-end mb-6">
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+55%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            


        <div class="row my-4">
            <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
              <div class="card">
                <div class="card-header pb-0">
                 <div class="row align-items-center">
                    <div class="col-lg-6 col-7">
                        <h6>Data Tray Makanan</h6>
                        <p class="text-sm mb-0">
                            <i class="fa fa-utensils text-info" aria-hidden="true"></i> 
                            <span class="font-weight-bold ms-1">4</span> Total Tray Terdeteksi
                        </p>
                    </div>
                    <div class="col-lg-6 col-5 text-end">
                        <a class="btn btn-outline-secondary mt-3 me-2" href="/sekolah">
                            <i class="fa fa-sync me-1" aria-hidden="true"></i> Refresh
                        </a>
                        
                        <a class="btn btn-success mt-3" href="/sekolah/tambah">
                            <i class="fa fa-plus me-1" aria-hidden="true"></i> Tambah Tray
                        </a>
                    </div>
    
          
                  <!-- Filter Section -->
                  <div class="row mt-4 g-3">
                    <div class="col-md-3">
                      <label class="form-label fw-bold">Search</label>
                      <div class="input-group">
                        <span class="input-group-text bg-white border-end-0"><i class="fas fa-search"></i></span>
                        <input type="text" class="form-control border-start-0" placeholder="Cari tray..." />
                      </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold">Pilih Provinsi</label>
                        <select class="form-select">
                            <option>Semua Provinsi</option>
                            <option>Aceh</option>
                            <option>Sumatera Utara</option>
                            <option>Sumatera Barat</option>
                            <option>Riau</option>
                            <option>Kepulauan Riau</option>
                            <option>Jambi</option>
                            <option>Sumatera Selatan</option>
                            <option>Bengkulu</option>
                            <option>Lampung</option>
                            <option>Kepulauan Bangka Belitung</option>
                            <option>Banten</option>
                            <option>DKI Jakarta</option>
                            <option>Jawa Barat</option>
                            <option>Jawa Tengah</option>
                            <option>DI Yogyakarta</option>
                            <option>Jawa Timur</option>
                            <option>Kalimantan Barat</option>
                            <option>Kalimantan Tengah</option>
                            <option>Kalimantan Selatan</option>
                            <option>Kalimantan Timur</option>
                            <option>Kalimantan Utara</option>
                            <option>Bali</option>
                            <option>Nusa Tenggara Barat</option>
                            <option>Nusa Tenggara Timur</option>
                            <option>Gorontalo</option>
                            <option>Sulawesi Utara</option>
                            <option>Sulawesi Tengah</option>
                            <option>Sulawesi Selatan</option>
                            <option>Sulawesi Tenggara</option>
                            <option>Sulawesi Barat</option>
                            <option>Maluku</option>
                            <option>Maluku Utara</option>
                            <option>Papua</option>
                            <option>Papua Barat</option>
                            <option>Papua Selatan</option>
                            <option>Papua Tengah</option>
                            <option>Papua Pegunungan</option>
                            <option>Papua Barat Daya</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                      <label class="form-label fw-bold">Pilih Sekolah</label>
                      <select class="form-select">
                        <option>Semua Sekolah</option>
                        <option>SDN 01 Menteng</option>
                        <option>SMPN 05 Tanah Abang</option>
                        <option>SMAN 10 Jakarta</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <label class="form-label fw-bold">Status</label>
                      <select class="form-select">
                        <option>Semua Status</option>
                        <option>Aman</option>
                        <option>Warning</option>
                        <option>Bahaya</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <label class="form-label fw-bold">Risk Level</label>
                      <select class="form-select">
                        <option>Semua Level</option>
                        <option>High (>70%)</option>
                        <option>Medium (40 - 70%)</option>
                        <option>Low (<40%) </option>
                      </select>
                    </div>
                  </div>
                </div>
          
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">ID Tray</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">Tanggal & Waktu</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sekolah</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Menu</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Supplier</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">NH3</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">H2S</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">VOC</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">Risk</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="ps-3">
                            <h6 class="mb-0 text-sm">TRAY-2024-00001</h6>
                          </td>
                          <td>
                            <h6 class="mb-0 text-sm">15 Nov 24</h6>
                            <span class="text-xxs text-secondary">11.30 WIB</span>
                          </td>
                          <td>
                            <h6 class="mb-0 text-sm">SDN 01 Menteng </h6>
                            <span class="text-xxs text-secondary">Jakarta Pusat</span>
                          </td>
                          <td class="text-center">
                            <h6 class="mb-0 text-sm">Nasi Goreng Ayam</h6>
                          </td>
                          <td class="text-center">
                            <h6 class="mb-0 text-sm">PT. Fresh Meat Indonesia</h6>
                          </td>
                          <td class="text-center">
                            <span class="badge bg-danger">Bahaya</span>
                          </td>
                          <td class="text-center">
                            <h6 class="mb-0 text-sm">25.3</h6>
                          </td>
                          <td class="text-center">
                            <h6 class="mb-0 text-sm">7.2</h6>
                          </td>
                          <td class="text-center">
                            <h6 class="mb-0 text-sm">0.8</h6>
                          </td>
                          <td class="text-center">
                            <h6 class="mb-0 text-sm">85%</h6>
                          </td>
                          <td class="text-center">
                            <a class="btn btn-link text-dark px-3 mb-0" href="/sekolah/edit"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td class="ps-3">
                            <h6 class="mb-0 text-sm">SCH-2</h6>
                          </td>
                          <td>
                            <h6 class="mb-0 text-sm">SMPN 3 Medan</h6>
                          </td>
                          <td>
                            <h6 class="mb-0 text-sm">Medan</h6>
                            <span class="text-xxs text-secondary">Sumatera Utara</span>
                          </td>
                          <td class="text-center">
                            <h6 class="mb-0 text-sm">720</h6>
                          </td>
                          <td class="text-center">
                            <span class="badge bg-danger">Tidak Aktif</span>
                          </td>
                          <td class="text-center">
                            <a class="btn btn-link text-dark px-3 mb-0" href="/sekolah/edit"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                          </td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        
      <footer class="sticky-bottom footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                Irostech
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </main>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Inter",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Inter",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Inter",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.1.0"></script>
</body>

</html>